{% comment %}
    ends an aside; include start-aside.html to start the aside
    
    No parameters, but uses the variable aside_show_icon set in start-aside.html to detect
    if an icon was shown 

    Example use in pages and posts:

    {% include end-aside.html %}

    Outputs the following HTML if aside_show_icon == false in start-aside.html
    </div>
    </aside>    

    Outputs the following HTML if aside_show_icon == true in start-aside.html
    </div>
    </div>
    </aside>    
{% endcomment %}

{%- if aside_show_icon -%}
    </div>
{%- endif -%}
    </div>
    </aside>
