{% comment %}
    merge page.authors and page.author so that either tag could be used in the frontmatter
    - natural to use "author" tag if just one author; "authors" tag if multiple authors
    - Example use of the tags follow:
    - author: walle
    - authors: [walle, jillk]
{% endcomment %}
<p>
    {%- for author in page.authors | page.author | uniq -%}
        {%- assign member = site.data.members[author] -%}
        
        {%- if member.web -%}
            <a href="{{ member.web}} ">
        {%- endif -%}
        
        {{ member.name }}
        
        {%- if member.web -%}
            </a>
        {%- endif -%}
        
        {%- unless forloop.last -%}
            ,&nbsp;
        {%- endunless -%}
    {%- endfor -%}
</p>