<h3 id="discussion">Discussion</h3>
<p>
    Ask questions, give feedback, and discuss this post on
    <a href="{{ page.tweet_url | default: 'https://twitter.com/sigcpp' }}">Twitter</a>.
    {%- if page.tweet_url -%}
        The Twitter link is specific to this post. Please post replies on this post only
        at the post-specific tweet.
    {%- endif -%}
</p>

{%- if page.reader_activity -%}
<p>
    Submit solutions by DM on Twitter (only by DM, please) so as to avoid spoilers.
    Please provide <a href="{{ '/resources#online-compilers' | relative_url }}">Compiler Explorer</a>
    links to code. We prefer textual answers in the form of GitHub gists, files in a
    repo, or other form where we can just follow a link and open the content in a
    browser.
</p>
{%- endif -%}
