<h3>Discussion</h3>
<p>
    Ask questions, give feedback, and discuss this post on
    <a href="{{ page.tweet_url | default: 'https://twitter.com/sigcpp' }}">Twitter</a>.
</p>

{% if page.reader_activity %}
<p>
    Contact us on <a href="{{ page.tweet_url | default: 'https://twitter.com/sigcpp' }}">Twitter</a>
    if you need clarification on the {{ page.reader_activity }}. Submit solutions by
    DM on Twitter (only by DM, please) and provide 
    <a href="{{ '/resources#online-compilers' | relative_url }}">Compiler Explorer</a>
    links to code. We prefer textual answers in the form of GitHub gists, files in a
    repo, or other form where we can just follow a link and open the content in a
    browser.
</p>
{% endif %}
