<h3>Discussion</h3>
Ask questions, give feedback, and discuss this post on
<a href="{{ page.tweet_url | default: 'https://twitter.com/sigcpp' }}">Twitter</a>.

{%- if page.reader_activity -%}
    Contact us on Twitter if you need clarification on the {{ page.reader_activity }}.
    Submit solutions by DM on Twitter (only by DM, please) and provide
    <a href="{{ '/resources#online-compilers' | relative_url }}">Compiler Explorer links</a>
    to code. We recommend you present textual answers as GitHub gists or as files in repos. 
{%- endif -%}

