<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    {% include html-head.html %}

    <body>
      <div class="wrapper">
        {% include page-header.html %}

        <section>
          {{ content }}
        </section>

        {% include page-footer.html %}
      </div>

      <!--[if !IE]><script>fixScale(document);</script><![endif]-->

      {% include site-analytics.html %}

    </body>

    <!--make external links open in a new tab/window-->
    <script src="/assets/js/set-external-link-target.js"></script>

  </html>