<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h1>sigcpp</h1>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resources">Resources</a></li>
	    		</ul>
			</nav>
			<h2>{{ page.title }}</h2>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/sigcpp">Follow SIGCPP on Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
