---
layout: default
---

{% include page-date.html %}
{% include page-title.html %}

{% comment %}  
Part of the solution based on: https://stackoverflow.com/a/15208484
{% endcomment %}

<p>
{% assign authorCount = page.authors | size %}
{% for author in page.authors %}
    {% assign member = site.data.members[author] %}
    
    {% if member.web %}
        <a href="{{ member.web}} ">
    {% endif %}
    
    {{ member.name }}

    {% if member.web %}
        </a>
    {% endif %}

    {% if authorCount > 1 %}
        {% unless forloop.last %}
            {{ ,&nbsp; }}
        {% endunless %}
    {% endif %}

{% endfor %}
</p>

{{ content }}